*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    /* 1rem = 10px */
    /* font-family: 'Righteous', cursive;
   font-family: 'Rubik', sans-serif; */
  }
body{
    width: 100%;
    min-height: 100vh;
    position:relative;
    text-align: center;
    background: rgb(255, 203, 242);
    padding-bottom: 40px;
}
h1{
    font-size: 4.2rem;
    padding: 3rem 2rem;
    font-family: 'Righteous', cursive;
    color :rgba(15, 1, 22, 0.94)
}
.sketch_ui{
    width:100%;
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
}
.sketch_ui--pad{
    display: flex;
    flex-direction: column;
    background: rgb(229, 179, 254);
    border-radius: 25px;
    margin-left: 200px;

}

.sketch_surface{
    width: 450px;
    height: 450px;
    margin: 30px 30px 15px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: flex-start;
}
.grid_squares.gridlines{
    border: 1px solid rgb(193, 192, 192);
}
.pointerEvent{
    pointer-events: none;
}
.sketch_body{
    display: flex;
    justify-content: space-between;
    padding: 0 25px 20px;
}
.sketch_body--deco{
    width: 60px;
    height: 60px;
    border-radius:50%;
    background:rgb(243, 196, 251);
    box-shadow:  2px 2px 5px 2px #c0fdff;
}
.sketch_ui--btn{
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
button{
    font-size: 1.6rem;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    padding: 1.5rem;
    border: none;
    background: rgb(229, 179, 254);
    color: rgba(16, 16, 16, 0.914);
    border-radius: 15px;
}
button:hover{
    transform: scale(1.1);
    box-shadow:2px 2px 8px 2px rgba(169, 20, 244, 0.3);
}
.ui_button--colr{
    position: relative;
}
.colr-txt{
    position: absolute;
    top:35%;
    right:20%;
}
.color-picker{
    opacity: 0;
}
